.introducao-container {
  background-color: #000;
}

.conteudo-imagem {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.imagem-vazada {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: 80% center;

  width: 120%;
  margin-left: -20%;
}

.introducao-conteudo {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
}

.conteudo-texto h1 {
  color: var(--cor-texto);
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 700;
}

.conteudo-texto p {
  color: var(--cor-subtexto);
  font-size: 1.5rem;
  line-height: 2.25rem;
}
